# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

/AugmentWebviewStateStore.xml
/landing-particle.iml
/modules.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
